:root {
  --dark-grey: #1d1419;
  --teal: #4ecca3;
  --light-grey: #eeeeee;
}

.diagonal-container {
  position: relative;
}

.diagonal-box {
  /* position: absolute; */
  background-image: var(--dark-grey);
  background-color: var(--dark-grey);
  transform: skewY(3deg);
  height: 100px;
  margin-top: -50px;
  z-index: 4;
}

.diagonal-content {
  max-width: 100em;
  margin: 0 auto;
  transform: skewY(-3deg);
  z-index: 4;
}