/* makes the nav stay at the top */
.side-nav {
  position: fixed;
  top: 0;
  z-index: 10;
}

/* removes the bullet points in li's */
.nav-ul {
  list-style: none;
}

/* removes the backgroun color */
.side-nav,
.nav-ul,
.nav-li,
.nav-i,
.nav-a {
  background-color: transparent;
}

.nav-i {
  padding-left: 20px;
}

.nav-a {
  text-decoration: none;
  color: white;
}

/* ******************** individual nav icons ******************** */

/* home nav li */
.nav-home {
  margin-left: -150px;
  transition-duration: 500ms;
}

.nav-home:hover {
  margin-left: 0px;
  transition-duration: 500ms;
}

/* projects nav li */
.nav-port {
  margin-left: -165px;
  transition-duration: 500ms;
}

.nav-port:hover {
  margin-left: 0px;
  transition-duration: 500ms;
}

/* about nav li */
.nav-about {
  margin-left: -150px;
  transition-duration: 500ms;
}

.nav-about:hover {
  margin-left: 0px;
  transition-duration: 500ms;
}

/* skills/resume nav li */
.nav-skill {
  margin-left: -142px;
  transition-duration: 500ms;
}

.nav-skill:hover {
  margin-left: 0px;
  transition-duration: 500ms;
}

/* contact nav li */
.nav-contact-me {
    margin-right: 0px;
    transition-duration: 500ms;
}

.nav-contact:hover {
    margin-left: 0px;
    transition-duration: 500ms;
}