/* **************** override bootstrap **************** */
.nav {
  --bs-nav-link-color: white !important;
}

.nav-link:hover {
  margin-left: 0px !important;
  transition-duration: 500ms !important;
  transition: 0ms;
  color: white;
}

/* **************** customizing the nav bar **************** */
/* makes the nav stay at the top */
.side-nav {
  position: fixed;
  top: 0;
  z-index: 10;
}

/* removes the background color */
.side-nav,
.nav-i,
.nav-a {
  background-color: transparent !important;
}

.nav-i {
  padding-left: 20px;
}

/* ******************** individual nav icons ******************** */

/* home nav li */
.nav-home {
  margin-left: -72px;
  transition-duration: 500ms !important;
}

/* projects nav li */
.nav-port {
  margin-left: -85px;
  transition-duration: 500ms !important;
}

/* about nav li */
.nav-about {
  margin-left: -67px;
  transition-duration: 500ms !important;
}

/* skills/resume nav li */
.nav-skill {
  margin-left: -54px;
  transition-duration: 500ms !important;
}

/* contact nav li */
.nav-contact-me {
  margin-left: -84px;
  transition-duration: 500ms !important;
}

/* all hover effects */
.nav-home:hover,
.nav-port:hover,
.nav-about:hover,
.nav-skill:hover,
.nav-contact-me:hover {
  margin-left: 0px;
  transition-duration: 500ms !important;
  color:white !important;
} 
