:root {
  --dark-grey: #1D1419;
  --teal: #4ecca3;
  --light-grey: #eeeeee;
}

p a {
  color: var(--teal) !important;
  
}

.btn-primary {
  background-color: #4ecca3 !important;
  --bs-btn-border-color: #4ecca3 !important;
  color: white !important;
}

.contact-image {
  position: relative;
  height: 100vh;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.contact-text {
  background-color: var(--dark-grey);
  color: white;
  padding: 1rem;
  border-radius: 30px;
}

